<!--new header-->


<div class="wrapper w3-top w3-hide-small">
  
  <header>
   
    
    <nav>
        <!-- <div class="menu-icon">
           <i class="fa fa-bars fa-2x"></i>
        </div> -->
        <div class="logo">
          <img routerLink='/' src="/assets/img/MMM_-_Logo-removebg-preview.png"  width="50" height="50">
          <img routerLink='/' src="/assets/img/MMM_Name-removebg-preview.png" class="name" width="180" height="60">
        </div>
        <div class="menu">
           <ul>
              <li><a routerLink='/'>Home</a></li>
              <li><a routerLink='/traditional'>Traditional</a></li>
              <li><a routerLink='/formals'>Uniforms</a></li>
              <li><a routerLink='/casuals'>Shirts</a></li>
              <li><a routerLink='/jeans'>Jeans & Cotton pants</a></li>
              <li><a routerLink='/about'>About us</a></li>
              <!-- <div class="slider"></div> -->
           </ul>
        </div>
     </nav>
  </header>
  
  </div>

<div class="w3-top" style="font-family: Helvetica Neue , sans-serif; font-weight: lighter;">
  <div class="w3-bar  w3-card w3-left-align w3-hide-large w3-hide-medium" style="background-color: white;">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" (click)="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a routerLink='/' class="w3-bar-item w3-button w3-padding-large w3-hover-white"><i class="fa fa-home" aria-hidden="true">
      Home</i></a>
     

  <!-- Navbar on small screens -->
  <!-- <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large"> -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a routerLink='/traditional' class="w3-bar-item w3-button">Traditional</a>
      <a routerLink='/formals' class="w3-bar-item w3-button">Uniforms</a>
      <a routerLink='/casuals' class="w3-bar-item w3-button">Shirts</a>
      <a routerLink='/jeans' class="w3-bar-item w3-button">Jeans & Cotton pants</a>
       <!-- <a routerLink='/' class="w3-bar-item w3-button">cotton pants</a> -->
      <a routerLink='/about' class="w3-bar-item w3-button">About us</a>
    </div> 
<!-- </div> -->


