<footer class="w3-container-fulid w3-padding-top-64 w3-center w3-opacity x w3-padding-top-64">
  <br><br><br>
  <h3 ><strong><i>Get in Touch</i></strong></h3>
  <h4>2,Adhi Selva Ganapathy St.</h4>
  <h4>Ammapet</h4>
  <h4>salem 636003</h4>

    <h4>triplemsons86@yahoo.in</h4>



  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <div class="w3-black w3-center w3-padding-24"> Powered by <a href="/home/sridhar/Desktop/welcome.html" title="Triple M" target="_blank" class="w3-hover-opacity">Triple M</a></div>
</footer>
