

<div class="container-fluid" style="background-color:rgb(110, 180, 255); color:black; margin-top: 0px;">
    <hr>
    <br>
    <div class="row" style="margin: 30px;">
        <div class="col-sm-4 w3-center" style=" text-decoration:none;">
            <ul  style="padding-left:2%"><b ><span  style="margin:2%; list-style-type: none;"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>OUR PRODUCTS</b>
            <!-- <li><a> Traditional</a></li>
            <li><a>Formals</a></li>
            <li><a>Casuals</a></li>
            <li><a>Uniforms</a></li>
            <li><a>Jeans & Cotton pants</a></li> -->
                <br><br>
                <li><a routerLink='/traditional'>Traditional</a></li>
                <li><a routerLink='/formals'>Formals</a></li>
                <li><a routerLink='/casuals'>Casuals</a></li>
                <li><a routerLink='/'>Uniforms</a></li>
                <li><a routerLink='/jeans'>Jeans & Cotton pants</a></li>
                
             </ul>
        </div>
        <div class="col-sm-4 w3-center">
            <br>
            <h5><strong>Contact us</strong></h5>
            
            <a>2 , Adhi Selva Ganapathy Street<br>
            Ammapet<br>
            salem 636003<br>
            triplemsons86@yahoo.in<br>
            Ph: 0427-2240950 
            </a>
        </div>
        <div class="col-sm-4 w3-center">
            <br>
            <a style="font-size: 20px;"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                <b>100% Quality</b><br> 
                guarantee for all products.
                
            </a>
        </div>
        

    </div>
   
    <footer>
        <hr>
        <!-- <div class="w3-container-fluid">         -->
        <div class=" w3-padding-24 w3-center " style="background-color:rgb(80,162,250);"> Powered by <a routerLink='/' title="Triple M" target="_blank" class="w3-hover-opacity">Triple M</a></div>
        <!-- </div> -->
    </footer>
</div>
