<br><br><br>
<!-- <div class="w3-container w3-hide-small w3-hide-medium">
  <h1 class="w3-centered c1"> <strong>Traditional Collections </strong></h1>
</div> -->
<div class="w3-container w3-hide-large ">
  <h3 class="w3-center "> <strong>Traditional Collections </strong></h3>
</div>
  <!-- <div class="dropdown w3-right" style="padding-right:25px; padding-top:50px;">
    <button id="nav1" class="w3-button w3-black" href="javascript:void(0);" (click)="myFun()" >Categories <i class="fa fa-caret-down" aria-hidden="true"></i></button>
      <div  class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
        <a href="#mens" class="w3-bar-item w3-button">Mens</a>
        <a href="#kids" class="w3-bar-item w3-button">Kids</a>
        
      </div>
    </div> -->
    <div class="dropdown w3-right" style="padding-right:25px; padding-top:50px;">
    <button type="button" class="btn w3-black dropdown-toggle" data-toggle="dropdown">
      Categories
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#mens">Mens</a>
      <a class="dropdown-item" href="#kids">Kids</a>
      <!-- <a class="dropdown-item" href="#">Link 3</a> -->
    </div>
    </div>
  
<!--sample-->
<body class="w3-content" style="max-width:1200px">

  <!-- Overlay effect when opening sidebar on small screens -->
  <!-- <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div> -->
  
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" >
  
    <!-- Push down content on small screens -->
    <!--div class="w3-hide-large" style="margin-top:83px"></div-->
  
  
    <div class="w3-container w3-text-grey" id="mens">
      <p>Mens <a  title="Men's Traditional" data-toggle="popover" data-trigger="hover" data-content="Available in 18 different colours"><i class="fa fa-info-circle" aria-hidden="true"></i></a></p>
      
    </div>
  <!-- Product grid Large-->
  <div class="w3-container-fluid w3-hide-small w3-hide-medium">
    <div class="w3-col l3  s6" id="myBtn">
      <div class="w3-container">
        <img src="/assets/img/101set.jpeg" width="180" height="225" class="swap">
        <p><b>Men's Set</b></p>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/107.jpeg" width="180" height="225" class="swap">
        <p><b>Men's Shirt</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/assets/img/109set.jpeg" width="180" height="225" class="swap">
          <!-- <span class="w3-tag w3-display-topleft">New</span> -->
          <!-- <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
          </div> -->
        </div>
        <p><b>Men's Set</b></p>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/106.jpeg" width="180" height="225" class="swap">
        <p><b>Men's Shirt</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/113set.jpeg" width="180" height="225" class="swap">
        <p><b>Men's Set</b></p>
      </div><br>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/assets/img/velcore2.jpg"  width="185" height="225" class="swap">
          <!-- <span class="w3-tag w3-display-topleft">Sale</span> -->
          <!-- <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
          </div> -->
        </div>
        <p><b>Men's velcro</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/109.jpeg" width="180" height="225" class="swap">
        <p><b>Men's Shirt</b></p>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/velcore1.jpg" width="180" height="225" class="swap">
        <p><b>Men's velcro</b></p>
      </div>
    </div>
</div>





  
    <!-- Product grid small screen-->
     <div class="w3-row w3-hide-large" >
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <img src="/assets/img/101set.jpeg"  style="height: 200px; width: 160px;"class="swap">
          <p><b>Men's Set</b></p>
        </div>
        <div class="w3-container">
          <img src="/assets/img/107.jpeg" style="height: 200px; width: 160px;" class="swap">
          <p><b>Men's Shirt</b></p>
        </div>
      </div>
  
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <div class="w3-display-container">
            <img src="/assets/img/109set.jpeg"  style="height: 200px; width: 160px;"class="swap">
            <!-- <span class="w3-tag w3-display-topleft">New</span> -->
            <div class="w3-display-middle w3-display-hover">
              <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>
          <p><b>Men's Set</b></p>
        </div>
        <div class="w3-container">
          <img src="/assets/img/106.jpeg"  style="height: 200px; width: 160px;"class="swap">
          <p><b>Men's Shirt</b></p>
        </div>
      </div>
  
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <img src="/assets/img/113set.jpeg" style="height: 200px; width: 160px;"  class="swap">
          <p><b>Men's Set</b></p>
        </div>
        <div class="w3-container">
          <div class="w3-display-container">
            <img src="/assets/img/velcore2.jpg" style="height: 200px; width: 160px;" class="swap">
            <!-- <span class="w3-tag w3-display-topleft">Sale</span> -->
            <div class="w3-display-middle w3-display-hover">
              <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>
          <p><b>Men's velcro</b></p>
        </div>
      </div>
  
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <img src="/assets/img/109.jpeg" style="height: 200px; width: 160px;" class="swap">
          <p><b>Men's Shirt</b></p>
        </div>
        <div class="w3-container">
          <img src="/assets/img/velcore1.jpg" style="height: 200px; width: 160px;" class="swap">
          <p><b>Men's velcro</b></p>
        </div>
      </div>
    </div>
   


<!--end Sample-->
  



<body class="w3-content" style="max-width:1200px">

  <!-- Overlay effect when opening sidebar oSn small screens -->
  <!-- <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div> -->
  
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" >
  
    <!-- Push down content on small screens -->
    <!--div class="w3-hide-large" style="margin-top:83px"></div-->
  
    
    <div class="w3-container w3-text-grey space" id="kids" >
      <p>Kids <a  title="Kid's Traditional" data-toggle="popover" data-trigger="hover" data-content="Available in 18 different colours"><i class="fa fa-info-circle" aria-hidden="true"></i></a></p>
    </div>
    <!--product large-->

    <div class="w3-container-fluid w3-hide-small " style="margin-top: 0px;">
      <div class="w3-col l3  s6" id="myBtn">
        <div class="w3-container">
          <img src="/assets/img/b1.jpeg" width="180" height="225" class="swap">
          <p><b>Kid's Set</b></p>
        </div><br>
        <div class="w3-container">
          <img src="/assets/img/b2.jpeg" width="180" height="225" class="swap">
          <p><b>Kid's Set</b></p>
        </div>
      </div>
  
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <div class="w3-display-container">
            <img src="/assets/img/b3.jpeg" width="180" height="225" class="swap">
            <!-- <span class="w3-tag w3-display-topleft">New</span> -->
            <!-- <div class="w3-display-middle w3-display-hover">
              <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div> -->
          </div>
          <p><b>Kid's Set</b></p>
        </div><br>
        <div class="w3-container">
          <img src="/assets/img/b4.jpeg" width="180" height="225" class="swap">
          <p><b>Kid's Set</b></p>
        </div>
      </div>
  
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <img src="/assets/img/b5.jpeg" width="180" height="225" class="swap">
          <p><b>Kid's Set</b></p>
        </div><br>
        <div class="w3-container">
          <div class="w3-display-container">
            <img src="/assets/img/b6.jpeg"  width="185" height="225" class="swap">
            <!-- <span class="w3-tag w3-display-topleft">Sale</span> -->
            <!-- <div class="w3-display-middle w3-display-hover">
              <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div> -->
          </div>
          <p><b>Kid's Set</b></p>
        </div>
      </div>
  
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <img src="/assets/img/b7.jpeg" width="180" height="225" class="swap">
          <p><b>Kid's Set</b></p>
        </div><br>
        <div class="w3-container">
          <img src="/assets/img/b8.jpeg" width="180" height="225" class="swap">
          <p><b>Kid's Set</b></p>
        </div>
      </div>
  </div>
  


    <!--end large-->
  
    <!-- Product grid small screen-->
    <div class="w3-row w3-hide-large w3-hide-medium">
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <img src="/assets/img/dblue.jpg" style="width:100%" class="swap">
          <p><b>Kid's Set</b></p>
        </div>
        <div class="w3-container">
          <img src="/assets/img/lblue.jpg" style="width:100%" class="swap">
          <p><b>Kid's Set</b></p>
        </div>
      </div>
  
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <div class="w3-display-container">
            <img src="/assets/img/dgreen.jpg" style="width:100%" class="swap">
            <!-- <span class="w3-tag w3-display-topleft">New</span> -->
            <div class="w3-display-middle w3-display-hover">
              <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>
          <p><b>Kid's Set</b></p>
        </div>
        <div class="w3-container">
          <img src="/assets/img/gold.jpg" style="width:100%" class="swap">
          <p><b>Kid's Set</b></p>
        </div>
      </div>
  
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <img src="/assets/img/purple.jpg" style="width:100%" class="swap">
          <p><b>Kid's Set</b></p>
        </div>
        <div class="w3-container">
          <div class="w3-display-container">
            <img src="/assets/img/grey.jpg" style="width:100%" class="swap">
            <!-- <span class="w3-tag w3-display-topleft">Sale</span> -->
            <div class="w3-display-middle w3-display-hover">
              <!-- <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button> -->
            </div>
          </div>
          <p><b>Kid's Set</b></p>
        </div>
      </div>
  
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <img src="/assets/img/lavandar.jpg" style="width:100%" class="swap">
          <p><b>Kid's Set</b></p>
        </div>
        <div class="w3-container">
          <img src="/assets/img/red.jpg" style="width:100%" class="swap">
          <p><b>Kid's Set</b></p>
        </div>
      </div>
    </div>
  




<!-- <div class="w3-container-fluid ">
  
  <li class=" w3-serif sty"><i>Available in <b>12</b> different shades.</i> </li>
  <li class=" w3-serif sty"><i>Velcro Dhoties (with pockets) are also available.</i></li>
  <li class=" w3-serif sty"><i>For more Products and designs please contact the store.</i></li>
  
  </div> -->

  
  

<div class="w3-container-fluid" style="margin-top: 100px;">
  <h4>Color Chart:</h4><br>
  <!-- <p>The w3-card-* classes makes the table look like a card (adds shadows):</p> -->
  <div class="container-fluid w3-hide-small w3-hide-medium">
    <div class="row">
      <!-- <div class="col-md-4"></div> -->
      <div class="col-md-6">
        <img src="/assets/img/chart_traditional.jpg" alt="chart" style="width: 250px; height: 350px;">
      </div>
      <!-- <div class="col-md-6"></div> -->
    </div>
  </div>

  <div class="container-fluid w3-hide-large">
    <div class="row w3-center">
      <!-- <div class="col-md-4"></div> -->
      <div class="col-md-4">
        <img src="/assets/img/chart_traditional.jpg" alt="chart" style="width: 250px; height: 350px;">
      </div>
    </div>
  </div>

<br>
<h4>Size chart:</h4><br>
  <table class="w3-table-all w3-card-4">
    <tr>
      <th></th>
      <th>Children</th>
      <th>Mens</th>

    </tr>
    <tr>
      <th> Sizes:</th>
      <td>0 - 12</td>
      <td>34 - 46<br>S  M  L  XL XXL </td>

    </tr>

  </table>


  <div class="container-fluid" style="margin-top: 40px; font-family: 'Times New Roman', Times, serif; font-size: medium; background-color:white ;margin-top: 30px">
    <hr>
    <div class="row" style="padding-left: 0%;">
        <div class="col-md-7">

       <h3 style="font-size: small;"><strong>Shopping at Triple M</strong></h3>
       <p style="font-size: small;">For retail purchase visit the store & look for all the latest products.<br>
       For whole purchase you can give order through mobile no. 9087879922. <br>
       For order enquiry please contact the landline no : 0427-2240950 or above mentioned number.<br>
       The above display products may vary with the original products.<br>
       Please check the availability of the product before giving the order.<br>
       For Retail purchase enquiry Please contact whatsapp number.9486226185.<br> 
       </p>
       </div>
       <div class="col-md-5">
           <app-tra-details></app-tra-details>
       </div>

       </div>
   </div>
   <br>
  
    
  
  
</div>







<script>
// Accordion
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}


function myAccFun() {
  var x = document.getElementById("demoAc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
// Click on the "Jeans" link on page load to open the accordion for demo purposes
// document.getElementById("myBtn").click();
// document.getElementById("myBtn1").click();


// Open and close sidebar
// function w3_open() {
//   document.getElementById("mySidebar").style.display = "block";
//   document.getElementById("myOverlay").style.display = "block";
// }
//
// function w3_close() {
//   document.getElementById("mySidebar").style.display = "none";
//   document.getElementById("myOverlay").style.display = "none";
// }
</script>
