.w3-lobster {
  font-family: "Lobster", serif;
}

.swap{
  transition: transform 0.5s ;
}
.swap:hover{

  /* transform: translateY(-10px); */
  transform: scale(1.1);
  box-shadow: 2px 2px 2px grey;

}

.pad{
  margin-top: 51px;
}
.center{
  margin-left:300px;
}
.center1{
  margin-left:200px;
}
.color{
  background:w3-light-grey;
  opacity: 0.9;
  border-radius: 15px;
}
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
