<nav class="w3-sidebar w3-dark-grey w3-collapse w3-top w3-large w3-padding pad" style="z-index:3;width:200px ;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><img src="/assets/img/MMM_-_Logo-removebg-preview.png" width="100" height="100"></h3>
  </div>
  <div class="w3-bar-block">
    <a routerLink='/traditional' onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Traditional Set</a>
    <a routerLink='/formals' onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Formals</a>
    <a routerLink='/casuals' onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Casuals</a>
    <a routerLink='/jeans' onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Jeans</a>
    <a routerLink='/pants' onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Cotton pants</a>
  </div>
</nav>





<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:250px"></div>


  <br><br>
  <!-- Image header -->
  <div class="w3-display-container w3-container w3-margin-left">
    <img src="/assets/img/lan-deng-quddu_dZKkQ-unsplash.jpg" alt="Jeans" width="100%" height="450px">
    <div class="w3-display-topleft w3-text-black" style="padding:25px 48px">
      <h1 class="w3-jumbo w3-hide-small color">Trendy Wear</h1>
      <h1 class="w3-hide-large w3-hide-medium">Office Wears</h1>
      <h1 class="w3-hide-small color">COLLECTION 2020</h1>
      <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
    </div>
  </div>

  <div class="w3-container w3-text-grey" id="jeans">
    <p>4 items</p>
  </div>

  <!-- Product grid -->
  <div class="w3-row">
    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/download1.jpg" width="200" height="265">
        <p>Shade No: <b>001</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/assets/img/download1.jpg" width="200" height="265">
          <span class="w3-tag w3-display-topleft">New</span>
          <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
          </div>
        </div>
        <p>Shade No: <b>003</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/download1.jpg" width="200" height="265">
        <p>Shade No: <b>005</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/download1.jpg" width="200" height="265">
        <p>Shade No: <b>007</b></p>
      </div>
    </div>
  </div><br><br>
