<div class="privacy-policy-container"  style="padding-top:100px;">
    <h1>Privacy Policy</h1>
    <p><strong>Effective Date:</strong> {{ effectiveDate }}</p>
  
    <section>
      <h2>1. Limited Data Collection</h2>
      <p>
        Our website is designed to display product information only. We do not
        actively collect personal information unless voluntarily provided
        (e.g., through email or through our contact).
      </p>
    </section>
  
    <section>
      <h2>2. Cookies and Tracking</h2>
      <p>
        We may use cookies and basic analytics (like Google Analytics) =
         to enhance
        user experience. Any data collected is anonymous and used solely to
        understand website traffic patterns.
      </p>
    </section>
  
    <section>
      <h2>3. Third-Party Links</h2>
      <p>
        Our website may link to external sites related to our products or industry.
        We are not responsible for the privacy practices of those sites. We recommend
        reviewing their privacy policies.
      </p>
    </section>
  
    <section>
      <h2>4. Your Privacy Choices</h2>
      <p>
        You may disable cookies in your browser settings if you prefer. This may
        affect some site functionality.
      </p>
    </section>
  
    <section>
      <h2>5. Policy Updates</h2>
      <p>
        We may update this Privacy Policy from time to time. The latest version
        will be available on this page, with the effective date noted above.
      </p>
    </section>
  
    <section>
      <h2>6. Contact Information</h2>
      <p>If you have questions or concerns, please contact us at:</p>
      <ul>
        <li><strong>Email:</strong> <a href="mailto:triplemgarment@gmail.com">triplemgarment@gmail.com</a></li>
        <li><strong>Address:</strong>2, Adhi Selva Ganapathy Street, Ammapet, Salem - 636003</li>
      </ul>
    </section>
  </div>
  