<br><br><br>
<div class="w3-container c1 w3-hide-large">
  <h3 class="w3-center "> <strong> Uniforms </strong></h3>
</div>
<br>
<div class="dropdown w3-right" style="padding-right:25px; padding-top:10px;">
  <button type="button" class="btn w3-black dropdown-toggle" data-toggle="dropdown">
    Categories
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#mens">Mens & Kids</a>
    <!-- <a class="dropdown-item" href="#kids">Kids</a> -->
    <!-- <a class="dropdown-item" href="#">Link 3</a> -->
  </div>
  </div>
    
  
<!--sample-->
<body class="w3-content" style="max-width:1200px">

  <!-- Overlay effect when opening sidebar on small screens -->
  <!-- <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay">
  </div> -->

  <!-- !PAGE CONTENT! -->
  
  <br>
  
    <!-- Push down content on small screens -->
    <!--div class="w3-hide-large" style="margin-top:83px"></div-->
  
  
    <div class="w3-container w3-text-grey" id="mens">
      <p>Boys & Girls</p>
    </div>
    <br><br>
  <!-- Product grid Large-->
  <div class="w3-container-fluid">
    <div class="w3-col l3  s6" id="myBtn">
      <div class="w3-container">
        <img src="/assets/img/boys1.jpeg"  class="swap">
        <p><b>IX & X Uniforms</b></p>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/g3.jpeg"  class="swap">
        <p><b>IX & X Uniforms</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/assets/img/boys2.png"  class="swap">
          <!-- <span class="w3-tag w3-display-topleft">New</span> -->
          <!-- <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
          </div> -->
        </div>
        <p><b>I to V Uniforms</b></p>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/g4.png"  class="swap">
        <p><b>I to V Uniforms</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/boys3.png"  class="swap">
        <p><b>XI to XII Uniforms</b></p>
      </div><br>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/assets/img/g1.png"   class="swap">
          <!-- <span class="w3-tag w3-display-topleft">Sale</span> -->
          <!-- <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
          </div> -->
        </div>
        <p><b>XI to XII Uniforms</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/boys4.png" class="swap">
        <p><b>VI to VIII Uniforms</b></p>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/g2.png"  class="swap">
        <p><b>VI to VIII Uniforms</b></p>
      </div>
    </div>
</div>




<!--Second Product-->

<br><br>





  


  




<!-- <div class="w3-container-fluid w3-hide-small" style="margin-top: 20px;">
<p class="w3-xxlarge w3-serif" style="margin-left:250px;" ><i>For more Products and designs please contact the store.</i></p>

</div>
<div class="w3-container-fluid w3-hide-large" style="margin-top: 120px;">
  <p class="w3-xlarge w3-serif"  style="margin-left:15px;"><i>For more Products and designs please contact the store.</i></p>
  
  </div> -->
<br><br>

<div class="w3-container   w3-centered">
  <h3><i>Sizes available:</i></h3><br>
  <!-- <p>The w3-card-* classes makes the table look like a card (adds shadows):</p> -->

  <table class="w3-table-all w3-card-4">
    <tr>
      <th></th>
      <th>Boys</th>
      <th>Girls</th>

    </tr>
    <tr>
      <th>Sizes:</th>
      <td>5 - 12</td>
      <td>34 -46<br>S  M  L XL XXL </td>

    </tr>

  </table>

  <div class="container-fluid" style="margin-top: 40px; font-family: 'Times New Roman', Times, serif; font-size: medium; background-color:white ;margin-top: 30px">
    <hr>
    <div class="row" style="padding-left: 0%;">
        <div class="col-md-7">

       <h3 style="font-size: small;"><strong>Shopping at Triple M</strong></h3>
       <p style="font-size: small;">For retail purchase visit the store & look for all the latest products.<br>
       For whole purchase you can give order through mobile no. 9087879922 or 9087879911. <br>
       For order enquiry please contact the landline no : 0427-2240950 or above mentioned number.<br>
       The above display products may vary with the original products.<br>
       Please check the availability of the product before giving the order.<br>
       For Retail purchase enquiry Please contact whatsapp number.9486226185.<br> 
       </p>
       </div>
       <div class="col-md-5">
        <h3 style="font-size: small;"><strong>Uniforms</strong></h3>
        <p style="font-size: small;">All Government School uniforms are available.<br>
          Private school uniforms are also taken for Bulk orders.<br>
          Uniform order are undertaken for both boys & Girls.<br>
          For order enquiry, contact the store.<br>     
          Original products may differ from the above displayed images.<br>
          



        </p>
       </div>

       </div>
   </div>
   <br>
</div>





<script>
// Accordion
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}


function myAccFun() {
  var x = document.getElementById("demoAc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
// Click on the "Jeans" link on page load to open the accordion for demo purposes
// document.getElementById("myBtn").click();
// document.getElementById("myBtn1").click();


// Open and close sidebar
// function w3_open() {
//   document.getElementById("mySidebar").style.display = "block";
//   document.getElementById("myOverlay").style.display = "block";
// }
//
// function w3_close() {
//   document.getElementById("mySidebar").style.display = "none";
//   document.getElementById("myOverlay").style.display = "none";
// }
</script>
