<br><br><br>
<div class="w3-container c1">
  <h1 class="w3-centered "> <strong>FORMAL SHIRTS</strong></h1>
</div>
<br>
  <div class="w3-dropdown-hover w3-right">
    <button class="w3-button w3-black" >Categories <i class="fa fa-caret-down" aria-hidden="true"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
        <a href="#mens" class="w3-bar-item w3-button">Mens & Kids</a>
        <!-- <a href="#kids" class="w3-bar-item w3-button">Cotton Wear</a> -->
        
      </div>
    </div>
    
  
<!--sample-->
<body class="w3-content" style="max-width:1200px">

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay">
  </div>

  <!-- !PAGE CONTENT! -->
  
  <br>
  
    <!-- Push down content on small screens -->
    <!--div class="w3-hide-large" style="margin-top:83px"></div-->
  
  
    <div class="w3-container w3-text-grey" id="mens">
      <p>Mens & Kids</p>
    </div>
    <br><br>
  <!-- Product grid Large-->
  <div class="w3-container-fluid">
    <div class="w3-col l3  s6" id="myBtn">
      <div class="w3-container">
        <img src="/assets/img/f1.jpg"  class="swap">
        <p>Shade No: <b>001</b></p>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/f2.jpg"  class="swap">
        <p>Shade No: <b>002</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/assets/img/f3.jpg"  class="swap">
          <span class="w3-tag w3-display-topleft">New</span>
          <!-- <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
          </div> -->
        </div>
        <p>Shade No: <b>003</b></p>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/f4.jpg"  class="swap">
        <p>Shade No: <b>004</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/f5.jpg"  class="swap">
        <p>Shade No: <b>005</b></p>
      </div><br>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="/assets/img/f6.jpg"   class="swap">
          <span class="w3-tag w3-display-topleft">Sale</span>
          <!-- <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
          </div> -->
        </div>
        <p>Shade No: <b>006</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="/assets/img/f7.jpg" class="swap">
        <p>Shade No: <b>007</b></p>
      </div><br>
      <div class="w3-container">
        <img src="/assets/img/f8.jpg"  class="swap">
        <p>Shade No: <b>008</b></p>
      </div>
    </div>
</div>




<!--Second Product-->

<br><br>
<hr>




  


  




<div class="w3-container-fluid w3-hide-small" style="margin-top: 20px;">
<p class="w3-xxlarge w3-serif" style="margin-left:250px;" ><i>For more Products and designs please contact the store.</i></p>

</div>
<div class="w3-container-fluid w3-hide-large" style="margin-top: 120px;">
  <p class="w3-xlarge w3-serif"  style="margin-left:15px;"><i>For more Products and designs please contact the store.</i></p>
  
  </div>
<br><br>

<div class="w3-container   w3-centered">
  <h3><i>Sizes available:</i></h3><br>
  <!-- <p>The w3-card-* classes makes the table look like a card (adds shadows):</p> -->

  <table class="w3-table-all w3-card-4">
    <tr>
      <th></th>
      <th>Children</th>
      <th>Mens</th>

    </tr>
    <tr>
      <th>Sizes:</th>
      <td>5 - 12</td>
      <td>34 -46<br>S  M  L  X  XL XXL </td>

    </tr>

  </table>
</div>

<hr>



<script>
// Accordion
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}


function myAccFun() {
  var x = document.getElementById("demoAc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
// Click on the "Jeans" link on page load to open the accordion for demo purposes
// document.getElementById("myBtn").click();
// document.getElementById("myBtn1").click();


// Open and close sidebar
// function w3_open() {
//   document.getElementById("mySidebar").style.display = "block";
//   document.getElementById("myOverlay").style.display = "block";
// }
//
// function w3_close() {
//   document.getElementById("mySidebar").style.display = "none";
//   document.getElementById("myOverlay").style.display = "none";
// }
</script>
