<div class="container" style="margin-left:0%; padding-left: 0%;">
<h3 style="font-size: small;"><strong>Traditional Collection</strong></h3>
        <p style="font-size: small;">Men's & Kid's Traditional Collections are available.<br>
            Adjustable Velcore Dhoties are also available in all sizes.<br>
            Traditional sets available in 12 different shades.<br>
            Bulk orders are also under taken.<br>
            Original products differ from the above displayed images.<br>
            For price & orders please contact the store.

        </p>
</div>