@media only screen and (max-width: 600px) {
    .name{
      width:200px; 
      height:60px;  
    }
    .logo{
        width:60px;
        height:60px;
    }
    img{
        width:100px;
    }
    .s1{
        width:220px;
        height:250px;    
    }
    .s2{
        margin-left: 40px;;
        width:220px;
        height:250px;
    }
    img{
        width: 150px;
    }
    .cal{
        width:250px; 
        height:130px;
    }
    
  }