<!-- <header class="w3-container-sm w3-grey w3-center w3-small" style="padding:50px 16px" >
  <h1 class="w3-margin w3-jumbo">
    <img src="/assets/img/MMM_-_Logo-removebg-preview.png" class="logo" width="120" height="120"></h1>
  <img src="/assets/img/MMM_Name-removebg-preview.png" class="name" width="400" height="120">
  <p class="w3-xlarge">Shirts & Trousers</p>
  <a routerLink='/traditional' class="w3-button w3-black w3-padding-large w3w3-small w3-margin-top" role="button">Get Started</a>
</header> -->
<br><br>
<div class="w3-hide-large w3-hide-medium" style="margin-top:10px;">
  <img src="/assets/img/bg(name).jpg" alt="Los Angeles" class="photo">   
</div>
<div id="demo" class="carousel slide w3-hide-small" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/img/bg(name).jpg" alt="Los Angeles" >   
    </div>
    <div class="carousel-item">
      <img src="/assets/img/bg6.jpg" alt="Chicago">
      
    </div>
    <div class="carousel-item">
      <img src="/assets/img/bg5.jpg" alt="New York" >
      
       
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>





<!--new one-->
<div class="container w3-center" >
  <div class="w3-center w3-padding-64">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Featured  <span style="color:red; margin-left: 10px;"><strong>Products</strong></span></span>
  </div>
  <div class="row">
      <div class="col-md-3 col-sm-3">
          <div class="product-grid6">
              <div class="product-image6">
                  <a routerLink='/traditional'>
                      <img class="pic-1 " src="/assets/img/IMG-20200523-WA0026.jpg" style="width: 175px;">
                  </a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">Men's Traditional</a></h3>
                  <!-- <div class="price">$11.00
                      <span>$14.00</span>
                  </div> -->
              </div>
              <button  routerLink='/traditional' class="social btn " data-tip="Quik View"> View Catalog</button> 
          </div>
      </div>
      <div class="col-md-3 col-sm-3">
          <div class="product-grid6">
              <div class="product-image6">
                  <a routerLink='/casuals'>
                      <img class="pic-1" src="/assets/img/c26.jpg" >
                  </a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">Kid's Set</a></h3>
                  <!-- <div class="price">$8.00
                      <span>$12.00</span>
                  </div> -->
              </div>
              <button routerLink='/casuals' class="social btn " data-tip="Quik View"> View Catalog</button>
          </div>
      </div>
      <div class="col-md-3 col-sm-3">
          <div class="product-grid6">
              <div class="product-image6">
                  <a routerLink='/jeans'>
                      <img class="pic-1" src="/assets/img/download1.jpg" >
                  </a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">Jeans</a></h3>
                  <!-- <div class="price">$11.00
                      <span>$14.00</span>
                  </div> -->
              </div>
              <button  routerLink='/jeans'class="social btn " data-tip="Quik View"> View Catalog</button>
          </div>
      </div>
      <div class="col-md-3 col-sm-3">
          <div class="product-grid6">
              <div class="product-image6">
                  <a routerLink='/traditional'>
                      <img class="pic-1" src="/assets/img/b8.jpeg" style="width: 175px;">
                  </a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">Kid's Traditional</a></h3>
                  <!-- <div class="price">$11.00
                      <span>$14.00</span>
                  </div> -->
              </div>
              <button routerLink='/traditional' class="social btn " data-tip="Quik View">View Catalog</button>
              
          </div>
      </div>
  </div>
</div>


<!-- Grid -->
  <!-- <div class="w3-row w3-container">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Featured Products</span>
    </div>
    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16 swap">
      <h3>Traditionals Wear</h3>
      <a href="/home/sridhar/Desktop/sample.html"><img src="/assets/img/6.png" width="150" height="150" style="margin-left:50px"></a>
      <p>All Types of wedding collection for children & mens.</p>
    </div>

    <div class="w3-col l3 m6  w3-container w3-padding-16 swap">
      <h3>Formal Wear</h3>
      <a href="/home/sridhar/Desktop/formals.html"><img src="/assets/img/image__1_-removebg-preview.png" width="150" height="150" style="margin-left:50px"></a>

      <p>Formal way of office wears for mens.<br><br></p>
    </div>

    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16 swap">
      <h3>Casual Wear</h3>
      <a href="/home/sridhar/Desktop/formals.html"><img src="/assets/img/20200623185105_IMG_4319-removebg-preview (1).png" class="cal" width="250" height="130" style="margin:10px"></a>



      <p>A classy collections for mens & children.<br><br></p>
    </div>

    <div class="w3-col l3 m6  w3-container w3-padding-16 swap">
      <h3>Uniforms</h3>
      <a href=""><img src="/assets/img/image(5).jpg" width="150" height="150" style="margin-left:50px"></a>
      <p>Uniforms for both government and private school are taken for orders.</p>
    </div>
  </div> -->

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container w3-light-grey ">
  <div class="w3-content">
    <div class="w3-half" style="margin-top: 100px;">
      <h1>Whole Sale Market</h1>
      <p class="w3-padding-32">This is one of our most popular services available. It’s made a big difference for many of our customers, and is provided with the highest level of excellence. With this service, we ensure that all out ordered products are delivered in a timely manner. Whenever you work with Triple M, you can trust that you’re in great hands.</p>

    </div>


    <div class="w3-half w3-center" >
      <img src="/assets/img/IMG-20200523-WA0036.jpg" class="s1 rounded-circle" width="380" height="400">
    </div>
  </div>
</div>


<!-- Second Grid -->
<div class="w3-row-padding  w3-padding-64 w3-container ">
  <div class="w3-content">
    <div class="w3-half " >
      <img src="assets/img/20200614155408_IMG_4291.jpg" class="s2 rounded-circle" width="400" height="400">

    </div>
    <div class="animated" animateOnScroll animationName="fadeIn">
    <div class="w3-half w3-left-align" style="margin-top: 75px;">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <h1>Clothing Store</h1>
      <p class="w3-padding-32 " >Frequently utilized by most of our customers, this service has been essential to success on many occasions. When it comes to all of our services, you can count on us to take care of your every need, as this is the store where you can buy your needs directly. We pride ourselves by given a greater discounts and we will assure the lowest price in the MARKET. </p>

    </div>
    </div>
  </div>
</div>



<div class="w3-container  w3-center w3-padding-64">
    <h1 class="w3-margin w3-xlarge" style="color: black;"> <i> <sup><i class="fa fa-quote-left" aria-hidden="true">  </i></sup>  Fashion is the armor to survive the reality of everyday life  <sup><i class="fa fa-quote-right" aria-hidden="true"> </i></sup></i></h1>
</div>

<div class="w3-cointainer w3-center w3-padding-64" >
  <h3>Business Hours </h3>
    <p>Come Visit</p>
    <h5>  Mon - Sat : 9am - 7pm</h5>
      <h5>Sun : Closed </h5>
</div>


<!-- <div class="container">
  <h3>Popover Example</h3>
  <a href="#" title="Header" data-toggle="popover" data-content="Some content">Click Me</a><br>
  <a  title="Header" data-toggle="popover" data-trigger="hover" data-content="Some content"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
</div> -->




<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
