<header class="w3-container-sm w3-grey w3-center w3-small" style="padding:50px 16px" >
  <h1 class="w3-margin w3-jumbo">
    <img src="/assets/img/MMM_-_Logo-removebg-preview.png" width="120" height="120"></h1>
  <img src="/assets/img/MMM_Name-removebg-preview.png" width="400" height="120">
  <p class="w3-xlarge">Shirts & Trousers</p>
  <a href="/home/sridhar/Desktop/sample.html" class="w3-button w3-black w3-padding-large w3w3-small w3-margin-top" role="button">Get Started</a>
</header>
<br><br><br><br><br>

<div class="w3-cointainer w3-center">
  <div class="row">
    <div class="col-2">
      <h1><strong>Give Your Workout<br>A New Style!</strong></h1>
      <p>Success isn't always about greatness</p>
      <a  class="btn">Explore now &#8594;</a>
    </div>
  </div>
</div>



<!-- Grid -->
  <div class="w3-row w3-container">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Featured Products</span>
    </div>
    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16 swap">
      <h3>Traditionals Wear</h3>
      <a href="/home/sridhar/Desktop/sample.html"><img src="/assets/img/IMG-20200523-WA0025-removebg-preview.png" width="150" height="150" style="margin-left:50px"></a>
      <p>All Types of wedding collection for children & mens.</p>
    </div>

    <div class="w3-col l3 m6  w3-container w3-padding-16 swap">
      <h3>Formal Wear</h3>
      <a href="/home/sridhar/Desktop/formals.html"><img src="/assets/img/image__1_-removebg-preview.png" width="150" height="150" style="margin-left:50px"></a>

      <p>Formal way of office wears for mens.<br><br></p>
    </div>

    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16 swap">
      <h3>Casual Wear</h3>
      <a href="/home/sridhar/Desktop/formals.html"><img src="/assets/img/20200623185105_IMG_4319-removebg-preview (1).png" width="250" height="130" style="margin:10px"></a>



      <p>A classy collections for mens & children.<br><br></p>
    </div>

    <div class="w3-col l3 m6  w3-container w3-padding-16 swap">
      <h3>Uniforms</h3>
      <a href=""><img src="/assets/img/image(5).jpg" width="150" height="150" style="margin-left:50px"></a>
      <p>Uniforms for both government and private school are taken for orders.</p>
    </div>
  </div>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container ">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Whole Sale Market</h1>
      <h5 class="w3-padding-32">This is one of our most popular services available. It’s made a big difference for many of our customers, and is provided with the highest level of excellence. With this service, we ensure that all out ordered products are delivered in a timely manner. Whenever you work with Triple M, you can trust that you’re in great hands.</h5>

    </div>


    <div class="w3-third w3-center" >
      <img src="/assets/img/IMG-20200523-WA0036.jpg" width="380" height="400">
    </div>
  </div>
</div>


<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird ">
      <img src="assets/img/20200614155408_IMG_4291.jpg" width="400" height="400">

    </div>

    <div class="w3-third w3-left-align">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <h1>Clothing Store</h1>
      <h5 class="w3-padding-32 " >Frequently utilized by most of our customers, this service has been essential to success on many occasions. When it comes to all of our services, you can count on us to take care of your every need, as this is the store where you can buy your needs directly. We pride ourselves by given a greater discounts and we will assure the lowest price in the MARKET. </h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge"><i>"Fashion is the armor to survive the reality of everyday life."</i></h1>
</div>

<div class="w3-cointainer w3-center w3-padding-64" style="background-image: url('/assets/img/nordwood-themes-nDd3dIkkOLo-unsplash.jpg');">
  <h3>OPENING HOURS</h3>
    <p>Come Visit</p>
    <h5>  Mon - Sat : 9am - 7pm</h5>
      <h5>Sun : Closed </h5>
</div>


<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
